
body {
  background-image: url('./images/template-orange.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.projects {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;

}

.project-card {
 display:flex;
  justify-content: center;
  text-align:center;
  
  
  
}

.project-text {
  text-align: center;
}


.img-vsc {
 text-align:right;
  
  

}

.img-vsc > img {
 display: inline-block;
  width: 600px;
  height: 600px;
   /* add some margin to prevent text from overlapping */
  
}

.jumbotron {
 
}


